<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="dashboard">Facilities</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="devices">Devices</a></li>
                <li><a href="classrooms">Classrooms</a></li>
                <li><a href="account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h1>Devices <small>All devices available</small></h1> </div>
        <div class="row"/>
        <div class="col-sm-12">
            <p>This will show a full list of devices</p>
        </div>
        <div class="container">
          <table class="table table-striped">
            <thead>
              <th>ID</th>
              <th>Name</th>
              <th>Model</th>
              <th>Condition</th>
              <th>Reserve</th>
            </thead>

            <% if (userObjects){
            if (userObjects[0].hasOwnProperty("DeviceID")){for(var i=0; i < userObjects.length; i++) { %>

            <tbody>
              <tr>
                <td><%= userObjects[i].DeviceID %></td>
                <td><%= userObjects[i].DeviceName %></td>
                <td><%= userObjects[i].DeviceModel %></td>
                <td><%= userObjects[i].DeviceCondition %></td>
                <td>
                  <button type="button" class="open-reservedevice btn btn-sm" data-toggle="modal" data-target="#reserveDevice" data-device-name="<%= userObjects[i].DeviceName %>">Reserve</button>
                </td>
                <% }}}%>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<!-- Return Modal -->
<div id="reserveDevice" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Reserve Device</h4> </div>
      <div class="modal-body">
        <p>You are reserving the following device:</p>


        <div class="form-group">
          <label for="deviceName">Device Name:</label>
          <input type="text" class="form-control" name="deviceName" id="deviceName" readonly>
        </div>

        <div class="form-group">
          <label for="userID">User ID:</label>
          <input type="text" class="form-control" name="userID" id="userID">
        </div>

        <div class="form-group">
          <label for="deviceReserveDate">Date Reserved:</label>
          <input type="date" class="form-control" id="deviceReserveDate" name="deviceReserveDate">
        </div>

        <div class="form-group">
          <label for="deviceReturnDate">Date Due:</label>
          <input type="date" class="form-control" id="deviceReturnDate" name="deviceReturnDate">
        </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="createDeviceReservation btn" name="makeDeviceReservation" id="makeDeviceReservation">Create Reservation</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/jquery.min.js"></script>
<script>
  $(document).on("click", ".open-reservedevice", function () {
    var deviceName = $(this).data('device-name');
    $(".modal-body #deviceName").val(deviceName);
  });
</script>

<script src="/js/jquery.min.js"></script>
<script>
  $(document).on("click", ".createDeviceReservation", function(){
      var userID = document.getElementById("userID").value;
      var deviceReserveDate = document.getElementById("deviceReserveDate").value;
      var deviceReturnDate = document.getElementById("deviceReturnDate").value;
      console.log(userID);
      $.get('/createdevicereservation', {userid: userID, startdate: deviceReserveDate, enddate: deviceReturnDate} );
  });
</script>
