<div>
    <h1>Get user by Email</h1>
    <h6>Email: <%= userObjects[0].Email %></h6>
    <h6>Type: <%= userObjects[0].Type %></h6>
    <h6>Firstname: <%= userObjects[0].Firstname %></h6>
    <h6>Lastname: <%= userObjects[0].Lastname %></h6>
    <h6>AuthToken: <%= userObjects[0].AuthToken %></h6>
</div>