<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand" href="dashboard">Facilities</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="reservations">Reservations</a></li>
                <li><a href="devices">Devices</a></li>
                <li><a href="classrooms">Classrooms</a></li>
                <li><a href="account">Account</a></li>
                <li><a href="" id="signOut" onclick="auth2.signOut()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>This will be the dashboard, what the user sees after login</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <% if (userObjects){
                if (userObjects[0].hasOwnProperty("StudentID")){for(var i=0; i < userObjects.length; i++) { %>
                <p>StudentID:
                    <%= userObjects[i].StudentID %>
                </p>
                <p>UserID:
                    <%= userObjects[i].UserID %>
                </p>
                <p>TranscriptID:
                    <%= userObjects[i].TranscriptID %>
                </p>
                <p>ExpectedGradYear:
                    <%= userObjects[i].ExpectedGradYear %>
                </p>
                <br/>
                <br/>
                <% }} %>
        </div>
        <div class="col-md-6">
            <% if (userObjects[0].hasOwnProperty("InstructorID")){for(var i=0; i < userObjects.length; i++) { %>
                <p>InstructorID:
                    <%= userObjects[i].InstructorID %>
                </p>
                <p>UserID:
                    <%= userObjects[i].UserID %>
                </p>
                <p>DepartmentID:
                    <%= userObjects[i].DepartmentID %>
                </p>
                <br/>
                <br/>
                <% }}} %>
        </div>
    </div>
</div>
